<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.lowtechguys.Cling</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cling</string>
			</array>
		</dict>
	</array>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocSpaceEfficient</key>
		<string>1</string>
	</dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Cling asks Finder to open the Get Info panel for files.</string>
	<key>NSAutoFillRequiresTextContentTypeForOneTimeCodeOnMac</key>
	<true/>
	<key>OSLogPreferences</key>
	<dict>
		<key>com.lowtechguys.Cling</key>
		<dict>
			<key>DEFAULT-OPTIONS</key>
			<dict>
				<key>Enable-Private-Data</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/oenderg/cling-free/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>MQEMtxrlAP1XyYthvetCdxX11JMtzPPh4HFRNNYCZ+M=</string>
</dict>
</plist>
