<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lowtechguys.cling.alfred</string>
	<key>connections</key>
	<dict>
		<key>C1A1F00D-0001-4C11-8A55-000000000001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0002-4C11-8A55-000000000002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0002-4C11-8A55-000000000002</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0002-4C11-8A55-000000000002</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0002-4C11-8A55-000000000002</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0002-4C11-8A55-000000000002</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0002-4C11-8A55-000000000002</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1A1F00D-0002-4C11-8A55-000000000002</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0004-4C11-8A55-000000000004</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C1A1F00D-0003-4C11-8A55-000000000003</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0005-4C11-8A55-000000000005</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1A1F00D-0006-4C11-8A55-000000000006</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0007-4C11-8A55-000000000007</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1A1F00D-0007-4C11-8A55-000000000007</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0006-4C11-8A55-000000000006</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1A1F00D-0008-4C11-8A55-000000000008</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0009-4C11-8A55-000000000009</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1A1F00D-0009-4C11-8A55-000000000009</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-000A-4C11-8A55-00000000000A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1A1F00D-000B-4C11-8A55-00000000000B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0001-4C11-8A55-000000000001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1A1F00D-000C-4C11-8A55-00000000000C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0001-4C11-8A55-000000000001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1A1F00D-000D-4C11-8A55-00000000000D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A1F00D-0001-4C11-8A55-000000000001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>The Low Tech Guys</string>
	<key>description</key>
	<string>Fuzzy search every file with Cling</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Cling</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching…</string>
				<key>script</key>
				<string>source ./cling.zsh
[[ -n $cli ]] || { cling_missing; exit }
"$cli" alfred search -- "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<false/>
				<key>subtext</key>
				<string>Recent files when empty</string>
				<key>title</key>
				<string>Search files with Cling</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C1A1F00D-0001-4C11-8A55-000000000001</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>paste</string>
						<key>outputlabel</key>
						<string>Paste</string>
						<key>uid</key>
						<string>C1A1F00D-0003-4C11-8A55-000000000003</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C1A1F00D-0002-4C11-8A55-000000000002</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C1A1F00D-0004-4C11-8A55-000000000004</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>case $action in
    launch) /usr/bin/open -b com.lowtechguys.Cling; exit ;;
    download) /usr/bin/open "$1"; exit ;;
esac
source ./cling.zsh
[[ -n $cli ]] || exit
if [[ $action == open ]]; then
    "$cli" open -- "$1"
else
    "$cli" open "--$action" -- "$1"
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1A1F00D-0005-4C11-8A55-000000000005</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:reindex_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Reading the index…</string>
				<key>script</key>
				<string>source ./cling.zsh
[[ -n $cli ]] || { cling_missing; exit }
"$cli" alfred reindex
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<false/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Reindex Cling</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C1A1F00D-0006-4C11-8A55-000000000006</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ./cling.zsh
[[ -n $cli ]] || exit
case $reindex in
    cancel) "$cli" reindex --cancel ;;
    all) "$cli" reindex ;;
    *) "$cli" reindex --scope "$reindex" ;;
esac &gt;/dev/null 2&gt;&amp;1
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1A1F00D-0007-4C11-8A55-000000000007</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Exclude from Cling's Index</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C1A1F00D-0008-4C11-8A55-000000000008</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ./cling.zsh
[[ -n $cli ]] || exit
paths=("${(@ps:\t:)1}")
names=(${paths:t})
"$cli" ignore exclude -- "${paths[@]}" &gt;/dev/null &amp;&amp; print -r -- "${(j:, :)names}"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1A1F00D-0009-4C11-8A55-000000000009</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Excluded from Cling's index</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C1A1F00D-000A-4C11-8A55-00000000000A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Search with Cling</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C1A1F00D-000B-4C11-8A55-00000000000B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search Cling for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>C1A1F00D-000C-4C11-8A55-00000000000C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C1A1F00D-000D-4C11-8A55-00000000000D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Fuzzy search every file on your Mac with [Cling](https://lowtechguys.com/cling), which has to be running.

## Search

Type `cl` and a query. With no query it shows your recent files.

* `↩` Open
* `⌘↩` Show in Finder
* `⌥↩` Open in the editor set in Cling
* `⌃↩` Open in the terminal set in Cling
* `⇧↩` Add to Cling's stash, or send to the shelf app set in Cling
* `fn↩` Paste the path into the front app
* `⇥` on a folder: search inside it

Quick Look, Copy (`⌘C`) and Alfred's File Actions work on every result.

## Reindex

`clreindex` lists the scopes and drives to walk again, and shows the walk while it runs. `↩` on it stops it.

## Universal Actions

* **Exclude from Cling's Index** on files, which stay out until their rule is removed in Cling's Settings &gt; Excluded Paths
* **Search with Cling** on text

Add **Search Cling** to Alfred's fallback searches to run it when nothing else matches.
</string>
	<key>uidata</key>
	<dict>
		<key>C1A1F00D-0001-4C11-8A55-000000000001</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>C1A1F00D-0002-4C11-8A55-000000000002</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>C1A1F00D-0004-4C11-8A55-000000000004</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>C1A1F00D-0005-4C11-8A55-000000000005</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>C1A1F00D-0006-4C11-8A55-000000000006</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>C1A1F00D-0007-4C11-8A55-000000000007</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>C1A1F00D-0008-4C11-8A55-000000000008</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>C1A1F00D-0009-4C11-8A55-000000000009</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>C1A1F00D-000A-4C11-8A55-00000000000A</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>C1A1F00D-000B-4C11-8A55-00000000000B</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>C1A1F00D-000C-4C11-8A55-00000000000C</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>C1A1F00D-000D-4C11-8A55-00000000000D</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>cl</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>clreindex</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Reindex Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>reindex_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://lowtechguys.com/cling</string>
</dict>
</plist>
